<a href="https://colab.research.google.com/github/crislanecas/estudos_sql/blob/main/SoulCode/01_YouTube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
from sqlalchemy import create_engine

# Carrega o arquivo CSV em um DataFrame.
df = pd.read_csv('/content/youtube_tratado.csv')

# Cria uma conexão com o SQLite.
engine = create_engine('sqlite:///youtube.db')

# Registra o DataFrame como uma tabela temporária no SQLite.
df.to_sql('youtube', con=engine, if_exists='replace', index=False)

# Carrega a extensão ipython-sql.
%load_ext sql

# Conecta-se ao banco de dados SQLite.
%sql sqlite:///youtube.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%%sql

PRAGMA table_info(youtube);

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[(0, 'Unnamed: 0', 'BIGINT', 0, None, 0),
 (1, 'titulo', 'TEXT', 0, None, 0),
 (2, 'data_publicacao', 'TEXT', 0, None, 0),
 (3, 'palavra_chave', 'TEXT', 0, None, 0),
 (4, 'qtd_curtidas', 'BIGINT', 0, None, 0),
 (5, 'qtd_comentarios', 'BIGINT', 0, None, 0),
 (6, 'qtd_visualizacoes', 'BIGINT', 0, None, 0),
 (7, 'ano', 'BIGINT', 0, None, 0),
 (8, 'mes', 'BIGINT', 0, None, 0),
 (9, 'dia', 'BIGINT', 0, None, 0)]

In [20]:
%%sql

-- Seleciona todos os registros com palavra-chave TECNOLOGIA.
SELECT * FROM youtube
WHERE palavra_chave = 'TECNOLOGIA'

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[(0, 'Apple Pay Is Killing the Physical Wallet After Only Eight Years | Tech News Briefing Podcast | WSJ', '2022-08-23', 'TECNOLOGIA', 3407, 672, 135612, 2022, 8, 23),
 (1, 'The most EXPENSIVE thing I own.', '2022-08-24', 'TECNOLOGIA', 76779, 4306, 1758063, 2022, 8, 24),
 (2, 'My New House Gaming Setup is SICK!', '2022-08-23', 'TECNOLOGIA', 63825, 3338, 1564007, 2022, 8, 23),
 (3, 'Petrol Vs Liquid Nitrogen | Freezing Experiment | à´ªàµ\x86à´\x9fàµ\x8dà´°àµ\x8bà´³à´¿à´¨àµ\x86 à´\x90à´¸àµ\x8d à´\x86à´\x95à´¾àµ» à´ªà´±àµ\x8dà´±àµ\x81à´®àµ\x8b | M4 Tech |', '2022-08-23', 'TECNOLOGIA', 71566, 1426, 922918, 2022, 8, 23),
 (4, 'Best Back to School Tech 2022!', '2022-08-08', 'TECNOLOGIA', 96513, 5155, 1855644, 2022, 8, 8),
 (5, 'Brewmaster Answers Beer Questions From Twitter | Tech Support | WIRED', '2021-11-05', 'TECNOLOGIA', 33570, 1643, 943119, 2021, 11, 5),
 (6, 'Tech Monopolies: Last Week Tonight with John Oliver (HBO)', '2022-06-13', 'TECNOLOGIA', 135047, 9367, 5937790, 2022, 6, 13),
 (7, 'I bought the STRANGEST TECH on the Internet.', '2022-08-07', 'TECNOLOGIA', 216935, 12605, 4782514, 2022, 8, 7),
 (8, '15 Emerging Technologies that Will Change the World', '2021-12-08', 'TECNOLOGIA', 45565, 2882, 7001236, 2021, 12, 8),
 (9, 'Toxicologist Answers More Poison Questions From Twitter | Tech Support | WIRED', '2022-07-14', 'TECNOLOGIA', 24252, 1068, 667767, 2022, 7, 14),
 (10, 'Dope Tech: The Most Extreme Gaming Monitor!', '2022-08-15', 'TECNOLOGIA', 118001, 4123, 2359142, 2022, 8, 15),
 (11, 'Cool Tech Under $50 - August!', '2022-08-06', 'TECNOLOGIA', 20999, 3091, 413179, 2022, 8, 6),
 (12, 'Cool Back to School Tech 2022 ð\x9f\x94¥ (Under $100)', '2022-08-13', 'TECNOLOGIA', 15322, 547, 389114, 2022, 8, 13),
 (13, 'Best Tech/EDC Gifts Under $50 for Father&#39;s Day! - Gift Guide 2022', '2021-12-15', 'TECNOLOGIA', 17866, 157, 444953, 2021, 12, 15),
 (14, 'My Massive Tech Unboxing 47.0!', '2022-07-09', 'TECNOLOGIA', 13217, 442, 371563, 2022, 7, 9),
 (15, 'Why Millennials Are Leaving Six-Figure Tech Jobs', '2021-06-04', 'TECNOLOGIA', 26890, 4999, 1633059, 2021, 6, 4),
 (16, '10 Coolest Gadgets and Inventions That Will Blow Your Mind', '2021-08-13', 'TECNOLOGIA', 9562, 199, 760249, 2021, 8, 13),
 (17, '17 Coolest Gadgets You Can Actually Buy', '2022-07-21', 'TECNOLOGIA', 11743, 143, 1086568, 2022, 7, 21),
 (18, 'Almost EVERYONE is Wasting Money on Dash Cams.', '2022-08-14', 'TECNOLOGIA', 146978, 11105, 3186890, 2022, 8, 14),
 (19, 'I bought the THINNEST Tech in the world.', '2022-03-25', 'TECNOLOGIA', 363771, 13609, 11422924, 2022, 3, 25),
 (20, 'iPhone 14 Lineup is NOT what you Expected.. (plot twist)', '2022-08-24', 'TECNOLOGIA', 2117, 486, 63650, 2022, 8, 24),
 (21, 'Doctor Answers Gut Questions From Twitter | Tech Support | WIRED', '2022-05-12', 'TECNOLOGIA', 42841, 1357, 1280387, 2022, 5, 12),
 (22, 'Cool Tech Under $50 - July!', '2022-07-02', 'TECNOLOGIA', 23689, 2842, 530889, 2022, 7, 2),
 (23, 'Wolfgang Puck Answers Restaurant Questions From Twitter | Tech Support | WIRED', '2021-06-18', 'TECNOLOGIA', 55231, 2175, 2122433, 2021, 6, 18),
 (24, 'Battle Of The Tech - Super Bike Vs World Superbike', '2022-07-31', 'TECNOLOGIA', 1289, 183, 35948, 2022, 7, 31),
 (25, 'OnePlus 10R vs 10T | Unboxing &amp; Comparison', '2022-08-24', 'TECNOLOGIA', 970, 207, 23175, 2022, 8, 24),
 (26, 'Tech Hiring Slowdown: Whatâ\x80\x99s Different This Time? | Tech News Briefing Podcast | WSJ', '2022-08-10', 'TECNOLOGIA', 1608, 273, 78520, 2022, 8, 10),
 (27, '10 New Tech Gadgets 2022 | You Can Buy Right Now', '2022-05-27', 'TECNOLOGIA', 1452, 38, 63599, 2022, 5, 27),
 (28, 'Taste Expert Answers Questions From Twitter | Tech Support | WIRED', '2022-06-03', 'TECNOLOGIA', 35758, 2056, 1006704, 2022, 6, 3),
 (29, 'Audiologist Answers Hearing Questions From Twitter | Tech Support | WIRED', '2022-08-19', 'TECNOLOGIA', 8725, 790, 257848, 2022, 8, 19),
 (30, 'James Dyson Answers Design Questions From Twitter | Tech Support | WIRED', '2021-11-30', 'TECNOLOGIA', 110145, 3289, 2954979, 2021, 11, 30),
 (31, 'My Massive Tech Unboxing 46.0!', '2022-05-28', 'TECNOLOGIA', 12188, 326, 304037, 2022, 5, 28),
 (32, 'Cool Tech Under $50 - April!', '2022-04-02', 'TECNOLOGIA', 59458, 4159, 1541386, 2022, 4, 2),
 (33, '15 Emerging Technologies That Will Change Our World', '2022-05-14', 'TECNOLOGIA', 3494, 136, 589007, 2022, 5, 14),
 (34, 'Veterinarian Answers Pet Questions From Twitter | Tech Support | WIRED', '2022-05-05', 'TECNOLOGIA', 36423, 1902, 1085076, 2022, 5, 5),
 (35, 'What Is The Best Position For Descending? | GCN Tech Clinic', '2022-08-24', 'TECNOLOGIA', 941, 221, 25594, 2022, 8, 24),
 (36, 'My Everyday Tech: 2022!', '2022-01-07', 'TECNOLOGIA', 134194, 6102, 4098623, 2022, 1, 7),
 (37, 'INVENTIONS OF THE FUTURE THAT WILL SOON BE AVAILABLE TO EVERYONE', '2022-03-16', 'TECNOLOGIA', 42075, 1820, 7188648, 2022, 3, 16),
 (38, 'Twitter Whistleblower Accuses Company of Privacy, Security Issues | Tech News Briefing Podcast | WSJ', '2022-08-24', 'TECNOLOGIA', 709, 128, 25745, 2022, 8, 24),
 (39, 'I Did a Terrible Job of This - Intel $5,000 Extreme Tech Upgrade', '2022-07-23', 'TECNOLOGIA', 78852, 3926, 1889567, 2022, 7, 23),
 (40, 'Cool Tech Under $50 - June!', '2022-06-04', 'TECNOLOGIA', 32102, 3243, 786765, 2022, 6, 4),
 (41, '18 DEADLY Tech Fails that need to be BANNED.', '2022-07-02', 'TECNOLOGIA', 188623, 7464, 4195072, 2022, 7, 2),
 (42, 'I bought the BIGGEST Tech in the world.', '2021-12-04', 'TECNOLOGIA', 343227, 20854, 9618335, 2021, 12, 4),
 (43, 'Neil Gaiman Answers Mythology Questions From Twitter | Tech Support | WIRED', '2022-08-04', 'TECNOLOGIA', 43960, 1767, 791624, 2022, 8, 4),
 (44, 'Sushi Chef Answers Sushi Questions From Twitter | Tech Support | WIRED', '2022-05-26', 'TECNOLOGIA', 77411, 2098, 2474364, 2022, 5, 26),
 (45, 'Futurum Research&#39;s Daniel Newman breaks down tech stocks to watch', '2022-08-24', 'TECNOLOGIA', 24, 45, 3461, 2022, 8, 24),
 (46, 'My Favorite Tech of the Month!', '2022-07-30', 'TECNOLOGIA', 4492, 169, 274201, 2022, 7, 30),
 (47, 'Paleontologist Answers Dinosaur Questions From Twitter | Tech Support | WIRED', '2022-06-08', 'TECNOLOGIA', 51846, 2371, 1156785, 2022, 6, 8)]

In [21]:
%%sql

-- Qual foi o ano que teve mais visualizações?
SELECT ano, SUM(qtd_visualizacoes) AS total_visualizacoes
FROM youtube
GROUP BY ano
ORDER BY total_visualizacoes DESC;

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[(2018, 4550926541),
 (2021, 3529694008),
 (2020, 2956962881),
 (2022, 2465713538),
 (2019, 1954760009),
 (2013, 1620594561),
 (2016, 1132106452),
 (2009, 1051585613),
 (2014, 1048649794),
 (2017, 683145906),
 (2011, 391776920),
 (2007, 104964096),
 (2012, 88852673),
 (2010, 86038272),
 (2015, 84862482),
 (2008, 7178954)]

In [22]:
%%sql

-- Qual foi o mês com maior total de curtidas?
SELECT mes, SUM(qtd_curtidas) AS total_curtidas
FROM youtube
GROUP BY mes
ORDER BY total_curtidas DESC;

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[(4, 41077199),
 (8, 35278639),
 (6, 34896809),
 (7, 31140532),
 (11, 29680473),
 (3, 26610706),
 (1, 24840674),
 (5, 24461593),
 (12, 18707860),
 (9, 18201353),
 (10, 15839191),
 (2, 15028591)]

In [23]:
%%sql

-- Qual são os top 3 assunto mais curtidos?
SELECT palavra_chave, SUM(qtd_curtidas) AS total_curtidas
FROM youtube
GROUP BY palavra_chave
ORDER BY total_curtidas DESC
LIMIT 3;

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[('MR.BEAST', 105295718), ('ANIMAIS', 28909480), ('GOOGLE', 21202537)]

In [24]:
%%sql

-- Qual são os top 3 assunto menos curtidos?
SELECT palavra_chave, SUM(qtd_curtidas) AS total_curtidas
FROM youtube
GROUP BY palavra_chave
ORDER BY total_curtidas ASC
LIMIT 3;

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[('NOTÍCIAS', 117511), ('CRIPTO', 426068), ('CNN', 441787)]

In [25]:
%%sql

-- Qual a quantidade de vídeos que tem palavra-chave como 'Ciência de Dados'.
SELECT * FROM youtube
WHERE palavra_chave = 'CIÊNCIA DE DADOS';

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[(1731, 'Data Science In 5 Minutes | Data Science For Beginners | What Is Data Science? | Simplilearn', '2018-12-04', 'CIÊNCIA DE DADOS', 55282, 576, 2586478, 2018, 12, 4),
 (1732, 'What is Data Science?', '2022-06-13', 'CIÊNCIA DE DADOS', 51915, 876, 2197690, 2022, 6, 13),
 (1733, 'Data Science Full Course - Learn Data Science in 10 Hours | Data Science For Beginners | Edureka', '2019-08-18', 'CIÊNCIA DE DADOS', 118846, 3501, 3069097, 2019, 8, 18),
 (1734, 'Learn Data Science Tutorial - Full Course for Beginners', '2019-05-30', 'CIÊNCIA DE DADOS', 6579, 146, 313285, 2019, 5, 30),
 (1735, 'What REALLY is Data Science? Told by a Data Scientist', '2018-06-23', 'CIÊNCIA DE DADOS', 16394, 864, 573706, 2018, 6, 23),
 (1736, 'Intro to Data Science - Crash Course for Beginners', '2019-03-04', 'CIÊNCIA DE DADOS', 6386, 115, 122824, 2019, 3, 4),
 (1737, 'Why you should not be a data scientist', '2021-09-19', 'CIÊNCIA DE DADOS', 2216, 360, 87484, 2021, 9, 19),
 (1738, 'How I Would Learn Data Science in 2022', '2022-02-09', 'CIÊNCIA DE DADOS', 2923, 49, 89486, 2022, 2, 9),
 (1739, 'The Harsh Reality of Being a Data Scientist', '2022-08-03', 'CIÊNCIA DE DADOS', 2970, 346, 66888, 2022, 8, 3),
 (1740, 'What Is Data Science? (Explained in 5 Minutes)', '2021-05-20', 'CIÊNCIA DE DADOS', 19444, 766, 609802, 2021, 5, 20),
 (1741, 'Data Science Career: (Is Becoming A Data Scientist ACTUALLY Worth It?)', '2022-02-25', 'CIÊNCIA DE DADOS', 12111, 467, 266203, 2022, 2, 25),
 (1742, 'Data Scientist vs Data Analyst | Which Is Right For You?', '2020-06-10', 'CIÊNCIA DE DADOS', 4238, 47, 261889, 2020, 6, 10),
 (1743, 'How I Would Learn Data Science in 2022 (If I Had to Start Over)', '2021-12-27', 'CIÊNCIA DE DADOS', 630, 86, 11642, 2021, 12, 27),
 (1744, 'ð\x9f\x94¥Data Science Full Course 2022 | Data Science | Data Science For Beginners | Simplilearn', '2022-01-14', 'CIÊNCIA DE DADOS', 2353, 178, 78038, 2022, 1, 14),
 (1745, 'Data Scientist Overview', '2022-05-13', 'CIÊNCIA DE DADOS', 7514, 251, 195145, 2022, 5, 13),
 (1746, 'Is Data Science Dying in 2022?', '2022-07-09', 'CIÊNCIA DE DADOS', 56267, 1146, 2214491, 2022, 7, 9),
 (1747, 'real talk about my Data Scientist jobs + salary for entry level data science', '2021-12-23', 'CIÊNCIA DE DADOS', 2673, 174, 76828, 2021, 12, 23),
 (1748, 'Python for Data Science - Course for Beginners (Learn Python, Pandas, NumPy, Matplotlib)', '2020-06-02', 'CIÊNCIA DE DADOS', 2604, 78, 113661, 2020, 6, 2),
 (1749, 'What Professional Data Scientists ACTUALLY Do', '2022-02-14', 'CIÊNCIA DE DADOS', 2020, 133, 54541, 2022, 2, 14),
 (1750, 'Demystifying Data Science | Mr.Asitang Mishra | TEDxOakLawn', '2019-07-23', 'CIÊNCIA DE DADOS', 7742, 787, 271415, 2019, 7, 23),
 (1751, 'How to get a data science job', '2021-01-24', 'CIÊNCIA DE DADOS', 30536, 742, 1332052, 2021, 1, 24),
 (1752, 'Data Scientist Reveals the Best Way to Become Rich', '2022-06-01', 'CIÊNCIA DE DADOS', 4267, 70, 138290, 2022, 6, 1),
 (1753, 'Statistics for Data Science | Probability and Statistics | Statistics Tutorial | Ph.D. (Stanford)', '2019-12-20', 'CIÊNCIA DE DADOS', 1760, 170, 35373, 2019, 12, 20),
 (1754, 'Skills Needed to Become a Data Scientist', '2020-05-07', 'CIÊNCIA DE DADOS', 5407, 54, 309718, 2020, 5, 7),
 (1755, 'The math you actually need to know for data science.', '2021-04-26', 'CIÊNCIA DE DADOS', 26837, 555, 559680, 2021, 4, 26),
 (1756, 'Data Science Full Course | Learn Data Science in 3 Hours | Data Science for Beginners | Edureka', '2019-03-17', 'CIÊNCIA DE DADOS', 12875, 354, 317372, 2019, 3, 17),
 (1757, 'FASTEST Way to Become a Data Analyst and ACTUALLY Get a Job', '2022-07-11', 'CIÊNCIA DE DADOS', 712, 130, 17259, 2022, 7, 11),
 (1758, 'Data science roadmap: What skills you should learn first?', '2021-08-06', 'CIÊNCIA DE DADOS', 14986, 616, 324079, 2021, 8, 6),
 (1759, 'DATA SCIENTIST CAREER STORY (how I became a data scientist &amp; revealing my salaries)', '2022-02-20', 'CIÊNCIA DE DADOS', 1738, 100, 32054, 2022, 2, 20),
 (1760, 'How to choose between software engineering and data science | 5 Key Considerations', '2020-07-22', 'CIÊNCIA DE DADOS', 36835, 1265, 1456270, 2020, 7, 22),
 (1761, 'ð\x9f\x91©ð\x9f\x8f»â\x80\x8dð\x9f\x92» How to learn Data Science FASTER', '2022-05-21', 'CIÊNCIA DE DADOS', 3252, 331, 99774, 2022, 5, 21),
 (1762, 'Python Machine Learning Tutorial (Data Science)', '2020-09-17', 'CIÊNCIA DE DADOS', 7555, 442, 295344, 2020, 9, 17),
 (1763, 'Is Data Science Dying?', '2021-11-19', 'CIÊNCIA DE DADOS', 582, 33, 10129, 2021, 11, 19),
 (1764, 'A Day in the life of a Data Analyst in Chicago', '2022-05-19', 'CIÊNCIA DE DADOS', 3765, 74, 85503, 2022, 5, 19),
 (1765, 'DATA SCIENCE INTERVIEW GUIDE | every type of interview question explained', '2022-02-24', 'CIÊNCIA DE DADOS', 19969, 621, 578389, 2022, 2, 24),
 (1766, 'Data Scientist vs Data Analyst vs Data Engineer: What&#39;s the difference?', '2022-04-29', 'CIÊNCIA DE DADOS', 29589, 950, 718461, 2022, 4, 29),
 (1767, '3 Types of Data Science Interview Questions', '2018-07-01', 'CIÊNCIA DE DADOS', 43704, 1543, 800364, 2018, 7, 1),
 (1768, 'How I Would Learn to be a Data Analyst', '2022-01-05', 'CIÊNCIA DE DADOS', 20106, 616, 435863, 2022, 1, 5),
 (1769, 'What is Data Science? | Complete RoadMap | Simply Explained', '2021-11-11', 'CIÊNCIA DE DADOS', 44518, 1273, 1058423, 2021, 11, 11),
 (1770, 'How to learn data science in 2022 (the minimize effort maximize outcome way)', '2020-12-26', 'CIÊNCIA DE DADOS', 71, 2, 911, 2020, 12, 26),
 (1771, 'What is Data Science?', '2021-06-07', 'CIÊNCIA DE DADOS', 16225, 454, 510592, 2021, 6, 7),
 (1772, 'How Data Science Helps Small Businesses', '2022-08-24', 'CIÊNCIA DE DADOS', 3759, 67, 151345, 2022, 8, 24),
 (1773, 'Work Week In My Life | Data Scientist at Spotify', '2022-05-06', 'CIÊNCIA DE DADOS', 55097, 1543, 2287752, 2022, 5, 6),
 (1774, 'Statistics for Data Science Full Course | Probability and Statistics for Engineers | Great Learning', '2020-12-27', 'CIÊNCIA DE DADOS', 2313, 230, 95826, 2020, 12, 27),
 (1775, 'AI VS ML VS DL VS Data Science', '2019-11-26', 'CIÊNCIA DE DADOS', 2180, 170, 31289, 2019, 11, 26),
 (1776, 'DO NOT STUDY Data Science and Business Analytics IF...', '2022-05-09', 'CIÊNCIA DE DADOS', 2350, 162, 72414, 2022, 5, 9),
 (1777, 'Data science - Ù\x83Ù\x84 Ù\x85Ø§ ØªÙ\x88Ø¯ Ù\x85Ø¹Ø±Ù\x81ØªÙ\x87 Ø¹Ù\x86 Ù\x85Ø¬Ø§Ù\x84 Ø¹Ù\x84Ù\x85 Ø§Ù\x84Ø¨Ù\x8aØ§Ù\x86Ø§Øª', '2021-09-02', 'CIÊNCIA DE DADOS', 8896, 225, 304816, 2021, 9, 2),
 (1778, 'Do this to get a data science job abroad', '2021-01-10', 'CIÊNCIA DE DADOS', 4869, 218, 101255, 2021, 1, 10),
 (1779, 'Live Day 1- Introduction To statistics In Data Science', '2022-01-22', 'CIÊNCIA DE DADOS', 39458, 744, 961789, 2022, 1, 22),
 (1780, 'How I Would Learn Data Science in 2022 (If I Could Start Over)', '2022-01-01', 'CIÊNCIA DE DADOS', 33471, 1176, 855620, 2022, 1, 1)]

In [26]:
%%sql

-- Qual a média de curtidas por mês no ano de 2022?
SELECT mes, AVG(qtd_curtidas) AS media_curtidas
FROM youtube
WHERE ano = 2022
GROUP BY mes;

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[(1, 182715.88235294117),
 (2, 38329.032258064515),
 (3, 176516.23529411765),
 (4, 201887.0),
 (5, 108894.54545454546),
 (6, 122307.95774647887),
 (7, 121875.25619834711),
 (8, 27595.77360931436)]

In [27]:
%%sql

-- Qual vídeo pelo título teve maior quantidade de curtidas?
SELECT titulo, SUM(qtd_curtidas) AS total_curtidas
FROM youtube
GROUP BY titulo
ORDER BY total_curtidas DESC
LIMIT 3;

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[('El Chombo - Dame Tu Cosita feat. Cutty Ranks (Official Video) [Ultra Music]', 16445558),
 ('$456,000 Squid Game In Real Life!', 14259033),
 ('Martin Garrix - Animals (Official Video)', 11025176)]

In [28]:
%%sql

-- Qual vídeo pelo título teve menor quantidade de curtidas?
SELECT titulo, SUM(qtd_curtidas) AS total_curtidas
FROM youtube
GROUP BY titulo
ORDER BY total_curtidas ASC
LIMIT 3;

 * sqlite:///youtube.db
   sqlite:///youtube_tratado.db
Done.

[('15 Kilo ZayÄ±f GÃ¶steren KÄ±z MakyajÄ± |ArkadaÅ\x9flarÄ±mla Ã\x87in RestorantÄ± ve CanlÄ± MÃ¼zik Vlog', -1),
 ('DON&#39;T GOOGLE THIS STUFF', -1),
 ('FULL Marvel Studios Panel from Hall H | San Diego Comic-Con 2022 | AUDIENCE REACTION SDCC 2022', -1)]